*{
    margin: 0;
    padding: 0;
}

.boton {
    height: 80px;
    width: 160px;
}

.boton-jugadores {
    padding-top: 25px;
}


.main-wrapper {
    margin: auto;
    width: 80%;
}

.main-wrapper > * {
    text-align: center;
}

.team-container{
    display: flex;
}

.team-container .card {
    width: 18rem;
}

.img-goal {
    display: block;
    margin: 10px auto;
    width: 60%;
    height: auto;
}

.player-load-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#player-form {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}



.player-load-delete-forms{
    flex: 1 ;
    padding: 20px;
}

.form-check {
    padding: 0;
}

#player-display-container {
    margin: auto;
    flex: 1;
    border-radius: 5px;
    padding: 20px;
}

#player-list {
    margin: auto;
    padding: 50px ;
    border: 2px black solid;
}

#player-list > p {
    font-size: 1.5em;
}

.delete-button {
    height: 60px;
    color: red;
    border-color: red;
    width: auto;
}

#play-area {
    display: none;
    margin: auto;
    width: 977px;
    height: 648px;
    background-image: url(./img/goal.jpg);
}

#play-area .kick {
    height: 80px;
    width: 80px;
    font-size: 30pt;
    background: none;
    border: none;
    
}

#play-area .kick:hover {
    background-color: rgba(230, 247, 139, 09);
}

#top-left-kick {
    position: relative;
    top: 230px;
    right: 120px;
}

#top-right-kick {
    position: relative;
    top: 230px;
    left: 320px;
}

#middle-kick {
    position: relative;
    top: 320px;
}

#bottom-left-kick {
    position: relative;
    top: 400px;
    right: 380px;
}

#bottom-right-kick {
    position: relative;
    top: 400px;
    left: 75px;
}

.message-window {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
}

.no-border {
    border: 0 !important;
}
.kick-message-title {
    font-weight: 600;
    color: blue;
}

.kick-message-prelude, .kick-message-player-data, .kick-message-shirt {
    font-weight: 600;
}

.kick-message-direction {
    font-size: 18pt;
    font-weight: 800;
}

.kick-message-goal {
    font-size: 36pt;
    color: green;
    font-weight: 800;
}

.kick-message-keeper {
    font-size: 36pt;
    color: red;
    font-weight: 800;
}